@charset "ISO-8859-1";
h2{
 color: aqua;
 font-weight: bold;
 font-variant: inherit;
}
body{
 background-color: #f2f3f4;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container-login{
  max-width: 440px;
  padding: 0 20px;
  margin: 10rem auto;
}

.container{
  max-width: 600px;
  padding: 0 20px;
  margin: 5rem auto;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 90px;
  background-color: #3c9700;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .title-small{
  height: 35px;
  background-color: #3c9700;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}

.wrapper form .row span{
  padding: 0.5rem;
}

.wrapper form .row input{
  height: 80%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: black;
  box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #16a085;
  border: 1px solid #16a085;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #16a085;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background-color: #3c9700;
  border: 1px solid #3c9700;
  cursor: pointer;
}

.wrapper form select{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background-color: #3c9700;
  border: 2px solid #3c9700;
  width: 100%;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}

.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: green;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}
p{
 color: red;
}

.error-text{
color: red;
}

.text-center{
  text-align: center;
}

table{
  padding: 1rem;
  width: 100%
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 100%
  min-width: 25ch;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}