<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate Viewer Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>Crypto Rate Viewer Application</span></div>
        <form method="post" th:action="@{/getRates}" th:object="${rateViewRequest}">
            <h4 class="error-text" th:text="${errorText}"></h4>
            <div class="row">
                <span>Select CryptoCurrency</span>
                <select name="code" required th:field="*{code}">
                    <option value="">Select A Crypto</option>
                    <option th:each="curr : ${currencies}"
                            th:selected="${rateViewRequest.code} eq ${curr}"
                            th:text="${curr.name}"
                            th:value="${curr.code}"></option>
                </select>
            </div>
            <div class="row">
                <span>I.P Address (Optional)</span>
                <input name="ip" placeholder="IP Address(IPV4)" th:field="*{ip}" type="text">
            </div>
            <div class="row button">
                <input type="submit" value="Get Price">
            </div>
            <h3 class="text-center" th:text="${responseText}"></h3>
        </form>
        <div class="title-small" th:if="${priceHistory}"><span>Price History</span></div>
        <table th:if="${priceHistory}">
            <thead>
            <tr>
                <th> Date</th>
                <th> Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${priceHistory}">
                <td><span th:text="${history.formattedDate}"> Date </span></td>
                <td><span th:text="${history.formattedValue}"> Price </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>