<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rate Viewer Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container-login">
    <div class="wrapper">
        <div class="title"><span>Rate Viewer Application</span></div>
        <form method="post" th:action="@{/login}" th:object="${loginForm}">
            <p class="error" th:if="${param.error}">UserName or Password is Incorrect!</p>
            <div class="row">
                <input name="username" placeholder="User Name" type="text">
            </div>
            <div class="row">
                <input name="password" placeholder="Password" type="password">
            </div>
            <div class="row button">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</div>
</body>
</html>